{% extends 'register/base.html' %}

{% block title %}Artist Info{% endblock %}
{% load crispy_forms_tags %} 

{% block content %}
	<div class="content-section">
		<form method="GET" class="form-group" action="">
			{% csrf_token %}
            <h3><legend class="border-bottom mb-3">Look for an Artist's details</legend></h3><br>
            {{form|crispy}}
            <input type="text" id="query" value="" class="form-control" placeholder="Enter artist's name" name = 'search'/>
            <br><br>
			<button type="submit" class="btn btn-success" value="Submit">Search</button>
		</form>


		{% if flag == "search" %}
			<h1 style="text-align: center;">Results:-</h1>
			<div class="row">
				<div class="col-md-4">
						<div class="containerc">
						<dl>
							<dt>1. Artist:-</dt>
							<dd><a href="{{ r.external_urls.spotify}}" target="_blank">{{ r.name }}</a></dd>
							<dt>2. Artist's Followers:-</dt>
							<dd>{{r.followers.total}}</dd>
							<dt>3. Artist's Genres:-</dt>
							<dd>{{r.genres}}</dd>
							<dt>4. Popularity percentage:-</dt>
							<dd>{{r.popularity}}</dd>
							<dt>Artist's Image:- </dt>
							<img src="{{r.images.0.url}}" class="rounded">
						</dl>
						</div>
				</div>
			</div>
		{% else %}
			<h1 style="text-align: center;">Search for various Artists in the top search bar.</h1>
		{% endif %}
	</div>
{% endblock %}
