{% extends 'register/base.html' %}

{% block title %}Search{% endblock %}
{% load crispy_forms_tags %} 

{% block content %}
    <form method="GET" class="form-group" action="">
        {% csrf_token %}
        <h3><legend class="border-bottom mb-3">Search for a Query:-</legend></h3><br>
        {{form|crispy}}
        <h5>Enter your query</h5>
        <input type="text" value="" class="form-control" placeholder="any song, album, artist, etc" name = 'q'/>
        <br><br>
        <h5>Enter the type of query</h5>
        <input type="text" value="" class="form-control" placeholder="eg-album, playlist, episode, etc" name = 'type'/>
        <br><br>
        <button name="submit", type="Submit", class="btn btn-success", value="Submit">Search</button>
    </form>

    {% if flag == "search" %}
			<h1 style="text-align: center;">Results:-</h1>
			<div class="row">
				<div class="col-md-4">
						<div class="containerc">
                            <p>{{ r }}</p>
						</div>
				</div>
			</div>
		{% else %}
			<h1 style="text-align: center;">Search for various Artists in the top search bar.</h1>
		{% endif %}
{% endblock %}